{namespace Toast}

/**
 * Toast
 */
{template .render}
	{@param message: [icon: string, hide: bool, text: string]}

	<div class="toast {$message.hide ? 'toast--hide' : ''}">
		<i class="toast__icon fa fa-{$message.icon}"></i> {$message.text}
	</div>
{/template}
