$c: '.toast';
$toast-bg: #323232;
$toast-border-radius: 4px;
$toast-color: #fff;
$toast-max-w: 100%;
$toast-padding: 0 2rem;
$toast-w: 300px;
$toast-h: 50px;

#{$c} {
	align-items: center;
	background-color: $toast-bg;
	border-radius: $toast-border-radius;
	color: $toast-color;
	display: flex;
	height: $toast-h;
	max-width: $toast-max-w;
	padding: $toast-padding;
	width: $toast-w;

	#{$c}__icon {
		margin-right: 1rem;
	}
}
