{namespace Toast}

/**
 * Toast
 */
{template .render}
	{@param text: string}
	{@param? icon: string}

	<div class="toast">
		{if $icon}
			<i class="toast__icon fa fa-{$icon}"></i>
		{/if}
		{$text}
	</div>
{/template}
