{namespace LoadingBar}

/**
 * This renders the component's whole content.
 */
{template .render}
	<div class="loading-bar">
		<div class="loading-bar__color loading-bar__color--color1"></div>
		<div class="loading-bar__color loading-bar__color--color2"></div>
		<div class="loading-bar__color loading-bar__color--color3"></div>
		<div class="loading-bar__color loading-bar__color--color4"></div>
	</div>
{/template}
