@import url('https://fonts.googleapis.com/css?family=Merriweather');

$baseline: 12px;

$color-body: #f0f0f0;
$color-black: #e3e3e3;
$color-yellow: #fffda6;
$color-white: #fff;

$font-family: 'Merriweather', serif;
$font-size: 16px;

$background: "https://pre00.deviantart.net/b210/th/pre/f/2014/159/a/5/mac_wallpaper___flat_colors___1920x1200_by_dakirby309-d7lmemf.jpg";

* {
	box-sizing: border-box;
}

body {
	background-color: $color-body;
	margin: 0;
	background: url($background);
	background-size: cover;
}

body, input, button {
	font-family: helvetica, sans-serif;
	font-size: $font-size;
	line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family;
}

.hide {
	display: none !important;
}
