@import 'main.scss';

$c: '.todo-list';

$color-shadow-1: rgba(14, 20, 26, .1);
$color-shadow-2: rgba(14, 20, 26, .4);

$todo-list-margin: #{$baseline * 4} auto;
$todo-list-max-w: 700px;
$todo-list-h: calc(100vh - #{$baseline * 8});
$todo-list-header-h: 100px;
$todo-list-footer-h: 100px;
$todo-list-body-h: calc(100% - #{$todo-list-header-h + $todo-list-footer-h});
$todo-list-radius: 6px;

$todo-list-toast-h: 50px;
$todo-list-toast-margin: 0 0 .5rem;

@mixin shadow($color) {
	box-shadow: 12px 18px 48px 0 $color;
}

@mixin fade($opacity, $translate, $visibility) {
	opacity: $opacity;
	transform: translateY($translate);
	visibility: $translate;
}

@mixin animation($animation) {
	animation: $animation .5s ease-in-out forwards;
}

#{$c} {

	#{$c}__loading-bar {
		position: absolute;
    left: 0;
    top: 0;
    width: 100%;
	}

	#{$c}__list-group {
		margin: 0;
		padding: 0;

		#{$c}__list-group__item {
			display: flex;
			justify-content: space-between;
			padding: .5rem 1rem;
			align-items: center;

			&:hover {
				background-color: $color-black;

				#{$c}__btn--remove-task {
					opacity: 1;
				}
			}

			&#{$c}__list-group__item--editing {
				background-color: $color-yellow;
			}
			&#{$c}__list-group__item--done {

				#{$c}__description button {
					text-decoration: line-through;
				}
			}
		}

		#{$c}__content-item {
			width: 100%;
		}
	}

	#{$c}__description {
		border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: left;
		padding: 0 1rem;
		border-radius: $todo-list-radius;
		background-color: transparent;

		input, button {
			width: 100%;
			padding: 1rem 0;
			background-color: transparent;
			border: 0;
			text-align: left;
		}

		&#{$c}__description--edit-mode {}
	}

	#{$c}__checkbox input,
	#{$c}__btn--remove-task button {
		padding: 0;
		margin: 0;
		border: 0;
		background-color: transparent;
	}

	#{$c}__btn--remove-task {
		border: 0;
		opacity: 0;
	}

	#{$c}__content {
		@include shadow($color-shadow-1);
		width: 100%;
		height: $todo-list-h;
		max-width: $todo-list-max-w;
		margin: $todo-list-margin;
		display: flex;
    flex-direction: column;
		justify-content: space-between;
		background-color: $color-white;
		border-radius: $todo-list-radius;
	}

	#{$c}__toast {
		position: fixed;
		right: $baseline;
		top: $baseline;

		#{$c}__toast-item {
			@include fade(0, 100%, hidden);
			@include animation(fadeInUp);
			height: $todo-list-toast-h;
			margin: $todo-list-toast-margin;

			&#{$c}__toast-item--hide {
				@include animation(fadeOutUp);
			}
		}
	}

	#{$c}__header,
	#{$c}__footer {
		display: flex;
		align-items: center;
	}

	#{$c}__header {
		height: $todo-list-header-h;
		margin: 0 2rem;
	}

	#{$c}__body {
		height: $todo-list-body-h;
    overflow: auto;
	}

	#{$c}__footer {
		height: $todo-list-footer-h;

		input {
			@include shadow($color-shadow-2);
			width: calc(100% - 3rem);
			height: calc(100% - 3rem);
			margin: 1.5rem;
			padding: 1rem 2rem;
			border: 0;
			border-radius: $todo-list-radius;
		}
	}
}

@keyframes fadeInUp {
	to { @include fade(1, 0, visible); }
}

@keyframes fadeOutUp {
	0% { @include fade(1, 0, visible);	}
	50%, 100% { @include fade(0, -100%, hidden); margin: 0; }
	100% { height: 0; }
}
